/*FUENTES*/
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&display=swap");

@import "tailwindcss";
@import "tailwindcss-animated";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --blue: #7886c7;

  --dark: #12171e;

  --darkmid: #222831;

  --white: #faf6e9;

  /*Para degradado de fondo*/

  --whitemid: #d9eafd;
  --skyblue: #7886c7;

  --gray: #bdc3c7;
  --darkgray: #2c3e50;
}

p {
  font-family: "Lexend", sans-serif;
  transition: all 0.5s ease;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  transition: all 0.5s ease;
}

* {
  transition-property: background-color, color, border-color, box-shadow,
    transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

h2 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transition: all 0.5s ease;
}

body {
  background: linear-gradient(to bottom right, var(--whitemid), var(--skyblue));
  background-attachment: fixed;
}

.dark body {
  background: linear-gradient(to bottom right, var(--darkmid), var(--darkgray));
  background-attachment: fixed;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out forwards;
}
